POSTGRES_DB=discordclone
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_strong_password_here

REDIS_PASSWORD=your_redis_password_here

DB_CONNECTION=Host=db;Port=5432;Database=discordclone;Username=postgres;Password=your_strong_password_here
REDIS_CONNECTION=redis:6379,password=your_redis_password_here

JWT_SECRET=your_minimum_32_characters_secret_key_here

API_BASE_URL=http://localhost:5000
CLIENT_URL=http://localhost:3000